@charset "utf-8";
*{
  margin:0 auto;
  padding:0;
  list-style:none;
  font-family:"맑은 고딕";
}
a{
    color:inherit;
    text-decoration: none;
}
#wrap{
    min-width: 1000px;
    max-width: 1920px;
}
body{
    background-color: rgb(240, 193, 39);
}
header{
    width: 1000px;
    height: 250px;
}
.logo{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.icon{
    width:1000px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.card{
    width: 250px;
    background-color: rgb(240, 193, 39);
    list-style: none;
    float: left;
    color: white;
}
.icon>li>a>img:hover{
    background-color:rgba(255, 255, 255, 0.4);
}
.icon>li{
    list-style: none;
    float: left;
    margin-right: auto;
    margin-left: auto;
}
.icon>li>a>img{
    width: 200px;
    text-align: center;
}
nav{
    width: 1000px;
}
.clear{
    clear: both;
    height: 0px;
    overflow: hidden;
}
